/**********************************************style de diarra******************************************/


body{
    //creation tpl
    .smallWriteRemiseClient{
        font-size:8px;
    }

    .smallWriteRemarqueClient{
        font-size:12px;
    }

    div.iti.iti--allow-dropdown{
        width: 100% !important;
    }

     .disabledBackground{
        background-color: #77797b;
        opacity: 1;
     }

     .inputBorder{
        border: 0.20000000298023224px solid #1C9BD8 !important;
     }

     .cursorNot{
        cursor:not-allowed; 
     }
}




















