/**********************************************style de diarra******************************************/


.ficheId-container{
    //creation tpl
   border-radius: 0px 5px 5px 0px; border: 0.10000000149011612px solid #CED4DA;
   background: #E9ECEF 0% 0% no-repeat padding-box;
   width: 126px;
   left: 1733px;

}
